
@{
    ViewData["Title"] = "Korak2";
}

<h2>Korak2</h2>
@model Korak2
<table class="table table table-bordered table-hover">
    <tr>
        <td>Datum </td>
        <td>Škola </td>
        <td>Predmet </td>
        <td>Nisu pristupili</td>
        <td>Akcija</td>
    </tr>
    @foreach (var i in Model.maturski)
    {
        <tr>
            <td>@i.Datum</td>
            <td>@i.Skola</td>
            <td>@i.Predmet</td>
            <td>
                @foreach (var x in i.NisuPristupili)
                {
                    <span>@x,</span>
                }
            </td>
            <td>
                <a asp-action="Korak4" asp-route-Id="@i.MaturskiId">Uredi</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Korak3" asp-route-Id="@Model.NastavnikId" class="btn btn-primary"> Dodaj</a>